{% extends 'main/base.html' %}
{% load custom_tags %}
{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-8 fw-normal text-body-emphasis">Описание блога</h1>
    <p class="fs-5 text-body-secondary">Описание выбранного блога</p>
</div>
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-12 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Название: {{ blog.title }}</h4>
            </div>
            <div class="card-body">
                <p class="card-title pricing-card-title navy_color">Slug: {{ blog.slug }}</small></p>
                <p class="card-title pricing-card-title navy_color">Содержимое: {{ blog.text }}</small></p>
            </div>
            <div class="card-body">
                <img src="{{ blog.preview|mediapath }}"/>
            </div>
            <div class="card-footer py-3">
                <p class="card-title pricing-card-title navy_color">Создано: {{ blog.created_at }}</small></p>
            </div>
            <a href="{% url 'blog:edit' object.pk %}" type="button"
               class="btn btn-sm btn-success">Редактировать</a>
        </div>
    </div>
</div>
{% endblock %}